@import "../variables.scss";
.container {
  grid-column: 2/3;
  background-color: $color-white;
  border-radius: 2px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  @media (max-width: 55em) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  @media (max-width: 55em) {
    font-size: 1.8rem;
  }
  @media (max-width: 42em) {
    font-size: 1.5rem;
  }
  @media (max-width: 28em) {
    font-size: 1.25rem;
  }
}
